/* Control Panel */
#control {
    display: block;
    position: absolute;
    top: 100px;
    right: 50px;
    height: auto;
    width: 250px;
    padding: 15px;
    background-color: #fff;
    opacity: .70;
    -moz-box-shadow: 3px 3px 20px rgba(0,0,0,.2);
    -webkit-box-shadow: 3px 3px 20px rgba(0,0,0,.8);
    box-shadow: 3px 3px 20px rgba(0,0,0,.8);
    color: #2E2E2E;
}

#control #close {
  font-family: sans-serif;
    position: absolute;
    top: 8px;
    right: 10px;
    color: #494949;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    pointer-events: all;
}

#control p {
  font-size: .8em;
}

body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  text-rendering: optimizeLegibility;
  margin: 0;
  pointer-events: none;
}

td, th {
  padding: 4px 8px;
  font-size: 14px;
}

td {
  background: #FFEAD0;
}

th {
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    text-shadow: 5px;
    background-color: gainsboro;
}

body > p {
  width: 640px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
  margin: 0 auto;
  width: 90%;
  pointer-events: all;
}

/*svg text {
  font-size: 12px;
}*/

/*#placeholder {
  height: 40px;
  pointer-events: none;
  opacity: 0;
  z-index: -15;
}*/

#gibberish {
  pointer-events: none;
}

#datamode {
  position: inline-block;
  padding: 10px;
  z-index: -7;
  display: none;
}

#snapshot {
  /*background-color: beige;*/
  border-radius: 15px;
}

#durationView {
  position: absolute;
  left: 680px;
  top: 8px;
  pointer-events: all;

}
#statusView {
  position: absolute;
  left: 789px;
  top: 8px;
  pointer-events:all;
}
#aboutView {
  position: absolute;
  left: 882px;
  top: 8px;
  pointer-events:all;
  color: white;
  text-decoration: none;
}
#aboutView a {
  color: white;
}

.aboutText {
  width: 70%;
  margin: 0 auto;
  margin-top: -230px;
  pointer-events: all;
}

.svg {
  position: absolute;
  top: 280px;
  pointer-events: all;
}

.features {
  pointer-events: all;
  z-index: 25;
}

#years_container {
  float: left;
  width: 180px;
  border-right: 1px solid black;
}

#resetMap {
  pointer-events: all;
  display: box;
  position: absolute;
  top: 620px;
  left: 45px;
}

#selections {
  display: box;
  pointer-events: all;
  position: absolute;
  top: 308px;
  left: 20px;
}

#selections h3 {
  height: 15px;
}

#mapSelections {
  pointer-events: all;
}

.overlay {
  fill: none;
  opacity: 0;
  box-shadow: 5px 5px 10px #888888;
  pointer-events: fill;
  z-index: -1;
}

.arc {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

/* Map Styles */

#legendBox {
  fill: #222;
  /*opacity: .8;*/
  stroke: #080808;
  stroke-width: 1px;
  pointer-events: all;
  border-radius: 10px;
}

.background {
      fill: #000;
      pointer-events: all;
}

.foreground {
      fill: none;
      stroke: #333;
      stroke-width: 1.5px;
}

.land {
      fill: #3C3C3C; /*E3DAC9; /*#E9D6B3;*/
      stroke: #444;
      fill-opacity: .7;
      pointer-events: visible;
}

.boundary {
      fill: none;
      stroke: #444;
      pointer-events: visible;
}

.points-est {
    fill: green;
    fill-opacity: .7;
    /*stroke: black;*/
    /*stroke-width: .2px;*/
    pointer-events: visible;
    z-index: 20;
}

.post-label {
  color: black;
}

.postlabel {
  font: 18px;
}

.mapText {
  font-size: 12px;
  fill: #fff;
}


.legendText {
  font-size: 14px;
  fill: #fff;
  text-anchor: right;
}


.yearText {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  fill: #fff;
  margin-bottom: 5px;
}

.estSelections {
  margin-bottom: 10px;
}

.percentLabel {
  fill: #fff;
  font-size: 11px;
}


#onMap {
  /*fill: #009939;*/
  fill: #15b290;
  fill-opacity: .8;
}

#notOnMap {
  fill: #A6A6A6;
  fill-opacity: 1.0;
}


.tooltip {
  font-size: 12pt;
  color: black;
  position: absolute;
  top: 200px;
  left: 0;
  background-color: #fff;
  border: 1px solid silver;
  padding: .5em;
  min-width: 175px;
  pointer-events: none;
  z-index: 1000;
}

/* Graph Styles */

.barchart {
  z-index: 30;
  display: block;
  visibility: visible;
  position: relative;
  top: -255px;
}

.chartButton {
  stroke-radius: 15px;
  fill: gainsboro;
  stroke: #888;
  stroke-width: 2px;
  box-shadow: 5px 5px 10px #888888 inset;
}

.chartLegend {
  text-anchor: left;
  stroke-width: .25;
  stroke: black;
  display: box;
  background-color: gainsboro;
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}

.x.axis path {
  display: none;
}

.tick {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 15px;
  font-color: grey;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

.resize path {
  fill: #666;
  fill-opacity: .8;
  stroke: #000;
  stroke-width: 1.5px;
}

.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}


#singleYearLabel {
  font-size: 10px;
  display: box;
  position: absolute;
  top: 725px;
  left: 56px;
}

#forward {
  position: absolute;
  top: 750px;
  left: 100px;
  pointer-events: all;
  z-index: 40;
}

#back {
  position: absolute;
  top: 750px;
  left: 60px;
  pointer-events:all;
  z-index: 40;
}

#returnBrush {
  pointer-events: visible;
  position: absolute;
  top: 750px;
  left: 140px;
  z-index: 40;
}


/* Header Styles */

#info {
    color: #fff;
    padding: 20px 0 3px;
    z-index: -10;
    margin-left: 2em;
}

#info h1 {
    font: normal 400 58px/1.6 'Yanone Kaffeesatz', sans-serif;
    color: #15b290;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
    text-rendering: optimizeLegibility;
    line-height: 25px;
}

#info h3 {
  font:'Yanone Kaffeesatz', sans-serif;
  text-rendering: optimizeLegibility;
  padding: 10px;
  margin: 10px;
}

#info p {
    padding: 10;
    margin: 10;
}

#aboutButton {
  height: 30px;
  width: 140px;
  position: absolute;
  top: 600px;
  left: 40px;
  text-align: center;
  border-radius: 5px;
  pointer-events: all;
}

#aboutLabel {
  display: table-cell;
  line-height: 30px;
  width: 140px;
  text-align: center;
  vertical-align: middle;
}

#about {
    /*margin: 0;*/
    /*padding: 5px;*/
    /*margin: 22px 5px 5px 5px;*/
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.65em;
    line-height: 2px;
    float: left;
  }
  #about:after {
    display: block;
    content: "";
    height: 0;
  }
  #about ul {
    list-style: none;
    margin: 10;
    padding: 10;
  }
  #about ul li {
    display: inline;
  }
  #about ul li:not(:first-child):before {
    color: #fff;
    content: " · ";
    padding: 0 4px;
  }

  #information {
    margin: 0 auto;
    width: 90%;
  }

  span.sc {
    text-transform: uppercase;
  }

  a:link {
      color: #15b290;
  }
  a:visited {
      color: #15b290;
  }
  a:hover, a:active {
      color: #12987B;
  }

  #nav {
    margin: 0;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 2.333em;
    line-height: 3.5em;
  }
  #nav:before {
    display: block;
    content: "";
    height: 0;
  }
  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline;
  }
  #nav ul li:not(:first-child):before {
    color: rgba(60, 60, 60, 0.5);
    content: " · ";
    padding: 0 4px;
  }
  #nav ul li a {
    text-decoration: underline;
  }

  /* Customizing Bootstrap */

  .navbar-title {
    display: block;
    font: normal 400 26px/1.6 'Yanone Kaffeesatz', sans-serif;
    color: #15b290;
    letter-spacing: 1px;
    padding: 5px;
    margin: 5px;
    text-rendering: optimizeLegibility;
    line-height: 25px;
    float: left;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-subtitle {
    font-size: 16px;
    display: block;
    float: left;
    padding: 5px;
    margin: 8px 5px 5px 5px;
  }
