body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
  background-color: #F1F6F8;
  text-rendering: optimizeLegibility;
  margin: 40px auto;
  width: 1060px;
  min-height: 1000px;
}

td, th {
    padding: 4px 8px;
    font-size: 14px;
}

td {
    /*border-left: 1px solid black;*/
  background: #FFEAD0;
}

th {
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    text-shadow: 5px;
    background-color: gainsboro;
}

body > p {
  width: 640px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

/*svg text {
  font-size: 12px;
}*/

#mapWindow {
  width: 960px;
  height: 461px;
  position: absolute;
  left: center;
  top: 198px;
  box-shadow: 5px 5px 10px #888888;
  z-index: -1;
}

#histogram {
  background-color: #CCE5E5;
  width: 960px;
  height: 200px;
  position: absolute;
  top: 668px;
  left: center;
  box-shadow: 5px 5px 10px #888888;
  z-index: -1;
}

#years_container {
  float: left;
  width: 180px;
  border-right: 1px solid black;
}

#selections {
  /*display: inline-block;
  padding: 15px;
  background: #ececec;*/
}

.overlay {
  opacity: 0;
  box-shadow: 5px 5px 10px #888888;;
}

.toggles {
  display: inline;
}

.arc {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

/* Map Styles */

.legendBox {
  fill: beige;
  opacity: .8;
  stroke: darkgrey;
  stroke-width: 2px;
  box-shadow: 5px 5px 10px #888888;
}

.background {
      fill: #a4bac7;
      box-shadow: 5px 5px 10px #888888;
}

.foreground {
      fill: none;
      stroke: #333;
      stroke-width: 1.5px;
}

.land {
      fill: #E9D6B3;
      stroke: #766951;
      fill-opacity: .7;
}

.boundary {
      fill: none;
      stroke: #a5967e;
}
.points-est {
    fill: green;
    fill-opacity: .7;
    stroke: #777;
    stroke-width: .7px;
}

.post-label {
  color: black;
}

.postlabel {
  font: 18px;
}

/*Label shown on hover*/
.map-tooltip { 
  background-color: #f99;
  background
  border: 1px solid #999;
  margin-top: 15px;
  margin-left: -15px;
  padding: 10px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  pointer-events: none;
  text-align: center;
  position: absolute;
  z-index: 13;
  width: 85px;
}

/* Graph Styles */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tick {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 15px;
  font-color: grey;
}


.bar {
  fill: steelblue;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}



.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

/*.brush .resize path {
  fill: #eee;
  stroke: #666;
}*/

/* Header Styles */

#info {
    color: #333;
    padding: 20px 0 3px;
}

#info h1 {
    font: normal 400 58px/1.6 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

#info p {
    padding: 0;
    margin: 0;
}

#about {
    margin: 0;
    text-align: right;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 2.333em;
    line-height: 3.5em;
  }
  #about:before {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(60, 60, 60, 0.25);
    border-bottom: 1px solid #fff;
  }
  #about ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #about ul li {
    display: inline;
  }
  #about ul li:not(:first-child):before {
    color: rgba(60, 60, 60, 0.5);
    content: " · ";
    padding: 0 4px;
  }
  #about ul li a {
    text-decoration: underline;
  }

  span.sc {
    text-transform: uppercase;
  }

      a:link {
          color: steelblue;
      }
      a:visited {
          color: steelblue;
      }
      a:hover, a:active {
          color: #005580;
      }

  #nav {
    margin: 0;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 2.333em;
    line-height: 3.5em;
  }
  #nav:before {
    display: block;
    content: "";
    height: 0;
  }
  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline;
  }
  #nav ul li:not(:first-child):before {
    color: rgba(60, 60, 60, 0.5);
    content: " · ";
    padding: 0 4px;
  }
  #nav ul li a {
    text-decoration: underline;
  }
  