body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(51, 51, 51);
  background-color: #677279; /*#f0f0f0 #F1F6F8;*/
  text-rendering: optimizeLegibility;
  margin: 0;
  width: 1060px;
  min-height: 1000px;
  pointer-events: none;
  /*z-index: -20;*/
}

td, th {
    padding: 4px 8px;
    font-size: 14px;
}

td {
    /*border-left: 1px solid black;*/
  background: #FFEAD0;
}

th {
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    text-shadow: 5px;
    background-color: gainsboro;
}

body > p {
  width: 640px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

footer {
  padding: 2em 0 1em 0;
  font-size: 12px;
}

/*svg text {
  font-size: 12px;
}*/

#placeholder {
  height: 40px;
  pointer-events: none;
  opacity: 0;
  z-index: -15;
}

#gibberish {
  pointer-events: none;
}

#datamode {
  position: inline-block;
  padding: 10px;
  z-index: -7;
  display: none;
}

#snapshot {
  background-color: beige;
  border-radius: 15px;
}

/*#backdrop {
  width: 1100px;
  height: 730px;
  position: absolute;
  left: 40px;
  top: 230px;
  box-shadow: 5px 5px 10px #888888;
  z-index: -2;
  border-radius: 15px;
  background-color: #f7f7f7;
}*/

#tab1 {
  width: 200px;
  height: 35px;
  position: absolute;
  left: 600px;
  top: 70px;
  box-shadow: 0px 5px 10px #888888;
  z-index: -3;
  border-radius: 15px;
  background-color: #f7f7f7;
  pointer-events: all;
 
}
#tab2 {
  width: 200px;
  height: 35px;
  position: absolute;
  left: 815px;
  top: 70px;
  box-shadow: 0px 5px 10px #888888;
  z-index: -4;
  border-radius: 15px;
  background-color: #F5F1DE;
  pointer-events:all;
 
}

#tab3 {
  width: 200px;
  height: 35px;
  position: absolute;
  left: 1030px;
  top: 70px;
  box-shadow: 0px 5px 10px #888888;
  z-index: -5;
  border-radius: 15px;
  background-color: #F5F1DE;
  pointer-events: all;

}

.tabLabel {
  margin: 5px;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.svg {
  position: absolute;
  top: 280px;
  pointer-events: all;
}

.features {
  pointer-events: all;
  z-index: 25;
}

/*#mapWindow {
  width: 960px;
  height: 461px;
  position: absolute;
  left: center;
  top: 254px;
  box-shadow: 5px 5px 10px #888888;
  z-index: -1;
}

#histogram {
  background-color: #CCE5E5; /*should be same as stroke color of var freq
  width: 960px;
  height: 200px;
  position: absolute;
  top: 726px;
  left: center;
  box-shadow: 5px 5px 10px #888888;
  z-index: -1;
}*/

#years_container {
  float: left;
  width: 180px;
  border-right: 1px solid black;
}

#resetMap {
  pointer-events: all;
  display: box;
  position: absolute;
  top: 550px;
  left: 75px;
}

#selections {
  display: box;
  pointer-events: all;
  position: absolute;
  top: 310px;
  left: 40px;
}

#selections h3 {
  height: 15px;
}

#mapSelections {
  pointer-events: all;
}

.overlay {
  fill: none;
  opacity: 0;
  box-shadow: 5px 5px 10px #888888;
  pointer-events: fill;
  z-index: -1;
}


.arc {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

/* Map Styles */

#legendBox {
  fill: lightgrey;
  opacity: .8;
  stroke: darkgrey;
  stroke-width: 2px;
  box-shadow: 5px 5px 10px #888888;
  pointer-events: all;
  border-radius: 10px;
}

.background {
      fill: #677279;
      box-shadow: 5px 5px 10px #888888;
      pointer-events: all;
}

.foreground {
      fill: none;
      stroke: #333;
      stroke-width: 1.5px;
}

.land {
      fill: #E3DAC9; /*#E9D6B3;*/
      stroke: #766951;
      fill-opacity: .7;
      pointer-events: visible;
}

.boundary {
      fill: none;
      stroke: #a5967e;
      pointer-events: visible;
}

.points-est {
    fill: green;
    fill-opacity: .7;
   /* stroke: #888;
    stroke-width: .7px;*/
    pointer-events: visible;
    z-index: 20;
}

.post-label {
  color: black;
}

.postlabel {
  font: 18px;
}

/*Label shown on hover*/
.map-tooltip { 
  background-color: #f99;
  border: 1px solid #808080;
  margin-top: 15px;
  margin-left: -15px;
  padding: 10px;
  color: #333;
  font-size: 16px;
  line-height: 16px;
  pointer-events: none;
  text-align: center;
  position: absolute;
  z-index: 13;
  width: 85px;
}

.mapText {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  fill: darkslategray;
}


.legendText {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  fill: darkslategray;
  text-anchor: right;
}


.yearText {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  fill: darkslategray;
}

.percentLabel {
  fill: #888;
  font-size: 11px;
}


#onMap {
  fill: #838B83;
  fill-opacity: .8;
}

#notOnMap {
  fill: #8B7D7B;
  fill-opacity: .8;
}


/* Graph Styles */

.barchart {
  z-index: 30;
  display: box;
  visibility: visible;
  position: relative;
  top: -255px;
 /* background: grey;*/
}

.chartButton {
  stroke-radius: 15px;
  fill: gainsboro;
  stroke: #888;
  stroke-width: 2px;
  box-shadow: 5px 5px 10px #888888 inset;
}

.chartLegend {
  text-anchor: left;
  stroke-width: .25;
  stroke: black;
  display: box;
  background-color: gainsboro; 
  position: relative;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.tick {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-size: 15px;
  font-color: grey;
}


.bar-est {
  fill: steelblue;
  pointer-events: visible;
}

.bar-dis {
  fill: indianred;
  pointer-events: visible;
}


.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}



.brush .extent {
  stroke: #fff;
  stroke-opacity: .6;
  stroke-width: 2px;
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

/*.brush .resize path {
  fill: #eee;
  stroke: #666;
}*/

#singleYearLabel {
  font-size: 10px;
  display: box;
  position: absolute;
  top: 725px;
  left: 56px;
}

#forward {
  position: absolute;
  top: 750px;
  left: 100px;
  pointer-events: all;
  z-index: 40;
}

#back {
  position: absolute;
  top: 750px;
  left: 60px;
  pointer-events:all;
  z-index: 40;
}

#returnBrush {
  pointer-events: visible;
  position: absolute;
  top: 750px;
  left: 140px;
  z-index: 40;
}


/* Header Styles */

#info {
    color: #333;
    padding: 20px 0 3px;
    z-index: -10;
}

#info h1 {
    font: normal 400 58px/1.6 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    padding: 10px;
    margin: 10px;
    text-rendering: optimizeLegibility;
    line-height: 25px;
}

#info h3 {
  font:'Yanone Kaffeesatz', sans-serif;
  text-rendering: optimizeLegibility;
  padding: 10px;
  margin: 10px;
}

#info p {
    padding: 10;
    margin: 10;
}

#aboutButton {
  height: 30px;
  width: 140px;
  position: absolute;
  top: 600px;
  left: 40px;
  text-align: center;
  background-color: beige;
  border-radius: 5px;
  pointer-events: all;
}

#aboutLabel {
  display: table-cell;
  line-height: 30px;
  width: 140px;
  text-align: center;
  vertical-align: middle;
}

#aboutText {
  float: middle;
  position: relative;
  width: 700px;
  vertical-align: middle;
  padding: 20px;
  top: -850px;
  left: 235px;
  background-color: beige;
  border: 1px solid black;
  z-index: 50;
  pointer-events: visible;
  box-shadow: 5px 5px 10px #888888;
}

#about {
    margin: 0;
    text-align: left;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 2px;
  }
  #about:after {
    display: block;
    content: "";
    height: 0;
    border-top: 1px solid rgba(60, 60, 60, 0.25);
  }
  #about ul {
    list-style: none;
    margin: 10;
    padding: 10;
  }
  #about ul li {
    display: inline;
  }
  #about ul li:not(:first-child):before {
    color: rgba(60, 60, 60, 0.5);
    content: " · ";
    padding: 0 4px;
  }
  /*#about ul li a {
    text-decoration: underline;
  }*/

  span.sc {
    text-transform: uppercase;
  }

      a:link {
          color: steelblue;
      }
      a:visited {
          color: steelblue;
      }
      a:hover, a:active {
          color: #005580;
      }

  #nav {
    margin: 0;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 0.75em;
    line-height: 2.333em;
    line-height: 3.5em;
  }
  #nav:before {
    display: block;
    content: "";
    height: 0;
  }
  #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
    display: inline;
  }
  #nav ul li:not(:first-child):before {
    color: rgba(60, 60, 60, 0.5);
    content: " · ";
    padding: 0 4px;
  }
  #nav ul li a {
    text-decoration: underline;
  }
  